<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/admin_fragment :: head"></head>
<body class="container">
<header th:replace="fragments/admin_fragment :: header"></header>

<form method="post" action="/toys/create">

    <div class="form-group">
        <label> Name
            <input th:field="${toy.name}" class="form-control">
        </label>
        <p class="error" th:errors = "${toy.name}"></p>
    </div>
    <div class="form-group">
        <label> Description
            <input th:field="${toy.description}" class="form-control">
        </label>
        <p class="error" th:errors = "${toy.description}"></p>
    </div>
    <div class="form-group">
        <label> Quantity
            <input th:field="${toy.quantity}" class="form-control">
        </label>
        <p class="error" th:errors = "${toy.quantity}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Toy" class="btn btn-success">
    </div>
</form>
</body>

</html>