<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/admin_fragment :: head"></head>
<body class="container">
<header th:replace="fragments/admin_fragment :: header"></header>

<form method="post">
    <div class="form-group">
        <th:block th:each="user : ${users}">

            <label>
                <span th:text="${user.firstName}"></span>
                <input type="checkbox" name="userIds" th:value="${user.id}" class="form-control">
            </label>

        </th:block>
    </div>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>