<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/customer_fragment :: head"></head>
<body class="container">
<header th:replace="fragments/customer_fragment :: header"></header>

<form method="post" action="/orders/place">
    <div class="form-group">
        <label> Select Toy
            <select th:field="${order.toy}">
                <option th:each="toy : ${toys}"
                        th:value="${toy.id}"
                        th:text="${toy.name}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label> Quantity
            <input th:field="${order.quantity}" class="form-control">
        </label>
        <p class="error" th:errors="${order.quantity}"></p>
    </div>
    <div class="form-group">
        <label> Country
            <input th:field="${order.deliveryAddress.country}" class="form-control">
        </label>
        <p class="error" th:errors="${order.deliveryAddress.country}"></p>
    </div>
    <div class="form-group">
        <label> City
            <input th:field="${order.deliveryAddress.city}" class="form-control">
        </label>
        <p class="error" th:errors="${order.deliveryAddress.city}"></p>
    </div>
    <div class="form-group">
        <label> Street Name
            <input th:field="${order.deliveryAddress.streetName}" class="form-control">
        </label>
        <p class="error" th:errors="${order.deliveryAddress.streetName}"></p>
    </div>
    <div class="form-group">
        <label> Street Number
            <input th:field="${order.deliveryAddress.streetNumber}" class="form-control">
        </label>
        <p class="error" th:errors="${order.deliveryAddress.streetNumber}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Place Order" class="btn btn-success">
    </div>
</form>

</body>
</html>